<body class="dashboard">
    <h1>Dashboard Advogado:</h1>
    <nav class="navbar">
        <ul>
            <li><a href="/advogados/cadastrarprocessos">Cadastrar processos</a></li>
            <li><a href="/advogados/outrosprocessos">Processos de outros advogados</a></li>
            <li><a href="/advogados/verprocessosseparados">Manipular processos</a></li>
            <li><a href="/advogados/perfil">Editar perfil</a></li>
        </ul>
    </nav>

    <main class="dashboard-content">
    </main>
</body>









