<body class="dashboard">
    <h1>Menu cliente: </h1>
    <nav class="navbar">
        <ul>
            <li><a href="/clientes/meusprocessos">Meus processos</a></li>
            <li><a href="/clientes/perfil">Editar perfil</a></li>
        </ul>
    </nav>

    <main class="dashboard-content">
    </main>
</body>

