<div>
  <h1 class="display-4">Bem-vindo ao Controle de Estoque!</h1>
  <p>Controle de Estoque, desenvolvido com Node.Js + Express + MySQL + Prisma.</p>
  <br>
  <p>
    <a href="/registro" class="botao-bege">Criar Conta</a>

  </p>
</div>
