<div class="spacer"></div> 
<div class="jumbotron">
  <div class="jumbotron-content">
    <h1 class="display-4">Bem-vindo ao Gerenciamento de processos judiciais!</h1>
    <p class="lead">Gerenciador desenvolvido com Node.Js + Express + MySQL + Prisma.</p>
    <br>
    <p>
      <a href="/clientes/registrocliente" class="botao-azul">Crie sua conta</a>
    </p>
    <br>
    <p>Já possui uma conta?</p> 
    <br>
    <p><a href="/clientes/login" class="botao-azul ">Entrar como cliente</a>
    <a href="/advogados/login" class="botao-azul ">Entrar como advogado</a></p>
  </div>
</div>






